:root {
  --md-primary-fg-color:#ec6628;
  --md-accent-fg-color: #EE0F0F;
}

.md-main {
  margin: 0 auto;
  max-width: 100%;

} */



/* Mobile adjustments */
@media (max-width: 768px) {
  .img-box {
    float: none;
    margin: 0 auto 10px auto;
    max-width: 100%;
    width: 100%;
  }
  /* Target images aligned right */
  .img-box[align="right"] {
     float: right; /* Solves issue on mobile for images that are floating right... so float it right again.. two rights make wrong */
    /* margin-left: 0px;
    margin-right: auto;  */
  }
}
/* Overall Margin */
.md-content__inner {
  margin: 0 0;
}


.featherlight {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featherlight-image {
  max-width: 100%;
  max-height: 100%;
}


/* ######## < CUSTOM GRID > ######## */

/* Custom Grid - General styling */
/* .md-typeset .grid_custom>ul>li {
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  color: white;
  display: block;
} */

/* Custom Grid - Unique backgrounds for each card */
/* .md-typeset .grid_custom>ul>li:nth-child(1) {
  background-color: #F4A261;
}

.md-typeset .grid_custom>ul>li:nth-child(2) {
  background-color: #2A9D8F;
}

.md-typeset .grid_custom>ul>li:nth-child(3) {
  background-color: #E87EA1;
} */


/* .md-typeset .grid_custom .middle {
  background-color: transparent !important;
} */

/* links inside */
/* .md-typeset .grid_custom a {
  color: #ffffff;
  text-decoration: none;
}

.md-typeset .grid_custom a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}
.md-typeset .grid_custom a:active {
  color: #cccccc;
} */


.md-typeset .grid_custom>ul>li:hover {
  border: .05rem solid rgb(155, 155, 155) !important;
}
.md-typeset .grid.cards>ol>li, .md-typeset .grid.cards>ul>li, .md-typeset .grid>.card {
  background-color: #f1f1f1;
}
.md-typeset .grid_custom .material-icons,
.md-typeset .grid_custom .lg {
    font-size: 1.15rem;
    width: auto;
    height: auto;
}
/* ######## </ CUSTOM GRID > ######## */


/* ######## </ HEADERS > ######## */
.md-typeset h1 {
  margin-top:.75em;
  margin-bottom: calc(1em - 35px);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.md-typeset h2 {
  margin-bottom: calc(1em - 45px);
  font-size: 2em;
  font-weight: 350;
}

/* ######## </ HEADERS > ######## */


.md-typeset .md-button--stretch {
  width: 99%;
  text-align: center;
}
.img-box{
  border-radius: 4px;
}
.img-box-top{
  border-radius: 4px 4px 0px 0px;
}

.margin-tight-horizontal{
  margin-left: .075rem !important;
  margin-right: .075rem !important;
}
.margin-tight-vertical{
  margin-top: 0.35rem !important;
  margin-bottom: 0.35rem !important;
}

/* Custom 'info2' admonition */
:root {
  --md-admonition-icon--info2: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"/></svg>');
}
.md-typeset .admonition.info2,
.md-typeset details.info2 {
  border-color: rgb(43, 155, 70);
}
.md-typeset .info2 > .admonition-title,
.md-typeset .info2 > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .info2 > .admonition-title::before,
.md-typeset .info2 > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--info2);
          mask-image: var(--md-admonition-icon--info2);
}
